<header>

    <nav>
        <a href="/">Website Code Editor DBD.JS</a>
        <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="https://api.dbdjs.repl.co" target="blank">API</a></li>
            <li><a href="https://dbd.leref.ga" target="blank">Documentation</a></li>
            <li><a href="https://dbd.js.org" target="blank">Website</a></li>
            <li><a href="https://dbd.js.org/invite" target="blank">Support Server</a></li>
        </ul>
    </nav>

</header>